{% extends "base.html" %}

{% block extrahead %}
{% endblock %}

{% block announce %}
  <a href="https://www.npmjs.com/package/dynamodb-onetable">
      <span><b>New release 2.3.4</b> on NPM,</span>
  </a> &nbsp;
  <a href="https://twitter.com/sensedeepcloud">
    updates at <strong>@sensedeepcloud</strong> on
    <span class="twemoji twitter">
        {% include ".icons/fontawesome/brands/twitter.svg" %}
    </span>
    Twitter
  </a>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
